<ul>
  <li>
    <a
      href="https://github.com/soulprovidr"
      target="_blank"
      title="Shola Anozie on GitHub"
    >
      <img src="/assets/img/icons/github.svg">
    </a>
  </li>
  <li>
    <a
      href="https://soundcloud.com/soulprovidr"
      target="_blank"
      title="Shola Anozie on SoundCloud"
    >
      <img src="/assets/img/icons/soundcloud.svg">
    </a>
  </li>
  <li>
    <a
      href="https://open.spotify.com/user/soulprovidr"
      target="_blank"
      title="Shola Anozie on Spotify"
    >
      <img src="/assets/img/icons/spotify.svg">
    </a>
  </li>
  <li>
    <a
      href="https://www.reddit.com/r/rnb/"
      target="_blank"
      title="/r/rnb"
    >
      <img src="/assets/img/icons/reddit.svg">
    </a>
  </li>
  <li>
    <a
      href="mailto:shola@soulprovidr.io"
      target="_blank"
      title="E-mail Shola"
    >
      <img src="/assets/img/icons/email.svg">
    </a>
  </li>
</ul>